<div class="sidebar active">
    <div class="sidebar-top">
        <span>Perikanan Laut Sarawak</span>
    </div>
    <div class="sidebar-content">
        <div class="menu-list">
            <a href="/homePage" class="menu">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a>
        </div>
        <div class="sidebar-bottom">
            <a href="/" class="menu">
                <i class="bi bi-door-closed"></i>
                <span>Logout</span>
            </a>
        </div>
    </div>
</div>