<div class="main-content">
    <h2>Good Afternoon, Admin</h2>
    <span class="caption">have a nice day</span>
    <div class="content">
        <div class="display-cctv">
            <canvas id='canvas' class="canvas"></canvas>
        </div>
        <div class="card-sensor">
            <div class="card">
                <h3>DO</h3>
                <span class="sensor do">0</span>
                <span>Current</span>
            </div>
            <div class="card">
                <h3>Temperature</h3>
                <span class="sensor temperature">0</span>
                <span>Current</span>
            </div>
            <div class="card">
                <h3>Humidity</h3>
                <span class="sensor humidity">0</span>
                <span>Current</span>
            </div>
        </div>
    </div>
</div>